# Environment Configuration
NODE_ENV= # Options: 'development', 'production'
PORT=
HOST=

# CORS Settings
CORS_ORIGIN= # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS=
COMMON_RATE_LIMIT_MAX_REQUESTS=

# Database Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=